---
const images = [
  {
    src: "/interfaces/calendar.png",
    alt: "Ventana 1",
    top: "-top-5",
    left: "left-0",
    z: "z-10",
    delay: 0,
  },
  {
    src: "/interfaces/list.png",
    alt: "Ventana 2",
    top: "top-6",
    left: "left-10",
    z: "z-20",
    delay: 150,
  },
  {
    src: "/interfaces/schedule.png",
    alt: "Ventana 3",
    top: "top-16",
    left: "left-20",
    z: "z-30",
    delay: 300,
  },
];
---

<section id="galeria"
  class="flex flex-col w-full mt-14 px-6 py-12 h-full lg:px-40 bg-burble gap-10 lg:justify-center lg:items-start"
>
  <!-- Texto -->
  <aside class="lg:w-1/2">
    <p class="flex items-center text-base text-text-section lg:text-xl">
      Un vistazo nuestra web
      <span class="flex-1 h-px bg-gray-300 ml-4"></span>
    </p>
    <p class="text-lg font-black font-fallback lg:text-2xl">
      Interfaz fácil de usar
    </p>
  </aside>

  <!-- accordion -->
  <div class="relative flex flex-col gap-6 lg:w-1/2 lg:py-48">
    {
      images.map(({ src, alt, top, left, z, delay }) => (
        <div
          class={`scroll-reveal w-full pb-10 lg:absolute ${top} ${left} ${z}`}
          style={`transition-delay: ${delay}ms`}
        >
          <img
            src={src}
            alt={alt}
            class="w-full object-cover rounded-lg shadow-2xl"
          />
        </div>
      ))
    }
  </div>
</section>
